<h1>Welcome to the Word Definer!</h1>

<form class="form-group" action="/" method="post">
  <label for="word">Word:</label>
  <input type="text" name="word"><br>
  <label for="definition">Definition:</label>
  <input type="text" name="definition" value=""><br>
  <button type="submit" name="button">Submit</button>
</form>

<h2>List of words</h2><br>
<% @@word_list.each do |word| %>
  <a href="/word/<%= word.id %>"><%= word.word_name %></a>
<% end %>
<br>
<!-- <form class="form-group" action="/" method="post">
  <button type="submit" name="button">Clear list</button>
</form> -->
