<h1>Welcome to the Word Definer!</h1>

<form class="form-group" action="/word-list" method="post">
  <label for="word">Word:</label>
  <input type="text" name="word" required pattern=".*\S+.*" title="This field is required"><br>
  <label for="definition">Definition:</label>
  <input type="text" name="definition" required pattern=".*\S+.*" title="This field is required"><br>
  <button type="submit" name="button">Submit</button>
</form>

<h2>List of words</h2><br>
<% @@list.each do |item| %>
  <li><a href="/word/<%= item.id %>"><%= item.word_name %></a></li>
<% end %>
<br>
<form class="form-group" action="/" method="get">
  <button type="submit" name="button">Clear list</button>
</form>
